body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#map-container {
    height: 500px;
    margin-bottom: 20px;
}

#values-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

#user-list {
    list-style: none;
    padding: 0;
}

#user-list li {
    margin-bottom: 5px;
}


#assets-button-container {
    margin-top: 20px; /* Adjust the value as needed */
}



#LiveFeedAssetSection {
    margin-top: 20px; /* Adjust the value as needed */
}


/*body {*/
/*    font-family: 'Arial', sans-serif;*/
/*    background-color: #f0f0f0;*/
/*    color: #333;*/
/*}*/

/*h1 {*/
/*    color: #007bff;*/
/*}*/

/*!* Add more styles as needed *!*/



/*LiveFeed Section*/
    #LiveFeedPlayBackSection {
        border: 2px solid #ccc; /* Add border */
        padding: 20px; /* Add padding */
        margin-bottom: 20px; /* Add margin */
    }

    #LiveFeedPlayBackSection button {
        margin-right: 10px; /* Add margin-right for buttons */
    }



/*PlayBack Section*/
#LiveFeedPlayBackSection {
    border: 2px solid #ccc; /* Add border */
    padding: 4px; /* Add padding */
    margin-bottom: 5px; /* Add margin */
    margin-top: 5px;
}

#LiveFeedPlayBackSection h4 {
    margin-top: 0; /* Remove top margin for h2 */
}

#checkboxes_LiveFeedPlayBackSection {
    margin-bottom: 5px; /* Add margin-bottom for checkboxes */
}

#LiveFeedPlayBackSection button {
    margin-right: 5px; /* Add margin-right for buttons */
}



/*Assets Section*/
#LiveFeedAssetSection {
    border: 2px solid #ccc; /* Add border */
    padding: 4px; /* Add padding */
    margin-bottom: 5px; /* Add margin */
}

#LiveFeedAssetSection h4 {
    margin-top: 0; /* Remove top margin for h2 */
}

#LiveFeedAssetSection button {
    margin-right: 5px; /* Add margin-right for buttons */
}